@import url('normalize.css');

html{
  font-size: 16px;
  font-family: 'Lato',sans-serif;
}

body{
  background-color: #312828; 
}

.container{
  max-width: 450px;
  height: auto;
  background-color:#3a2d2d;
  margin: 5% auto;
  padding-bottom: 1rem; 
}

.formtop{
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid .4rem #F39B53;
  margin-bottom: 1rem;  
} 

.formtop h2{
  font-weight: bold;
  color: #CAC8C8;
  font-size: 18px; 
}

h2 span{
color: #F39B53;
}

.formreg{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnform{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.input,.btnsubmit,.btnreset{
  background-color: #efe6e2;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #CAC8C8 .2rem;
  transition: all .5s;
}

.input:focus{
  border-bottom: solid #F39B53 .2rem;
}

.btnsubmit,.btnreset{
  width: 40%;
  border-bottom: none;
  background-color: #312824;
  color: white;
}

.btnreset{
  background-color: #ab8c5e;
}

.btnreset:hover{
  background-color: #F39B53;
}
